body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin:  0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 150px;
}

.header-logo-left {
  padding-right: 70px;
}
.header-mid ul{
  display: flex;
  justify-content: space-between;
}

.header-link-mid {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}

.header-link-mid:hover {
  color: #212353;
}

.header-link-mid:active {
  color: #212353;
}

.header-mid ul li a {
  margin-right: 40px;
}

.header-link-right {
  display: flex;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 15px 15px;
  }

  .header .header-link-right:hover
  {
    color: black;
    background-color:  brown;
  }

  .header .header-link-right:active {
      color: chocolate;
      background-color: darkgreen; }

  .header .header-link-right a:after {
        content: url('../img/strelka.svg');
        padding-left: 15px;
      }


    .main .section-one {
      width: 1250px;
    }

    .main .section-one .section-one-header {
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 110%;
      display: flex;
      align-items: center;
      color: #212353;
      padding-bottom: 60px;
    }

    .main .section-one .section-one-div {
      width: 600px;
      height: 400px;
    }

    .main .section-one .section-one-text {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 160%;
      color: #4B5D68;
      padding-bottom: 60px;
    }

    .main .section-one .section-one-link {
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      background: #9C69E2;
      border-radius: 50px;
      padding: 15px 15px;

    }

    .main .section-one .section-one-link:hover {
      color: black;
      background: blue;
    }

    .main .section-one .section-one-link:active {
      color: brown;
      background: chartreuse;
    }

    .main .section-one {
      background-image: url(../img/storage.png);
      background-repeat: no-repeat;
      background-position: right;
      margin-bottom: 100px;
    }

    .main .section-two {
      background-color: rgba(240, 99, 184, 0.15);
      border-radius: 50px;
      background-image: url(../img/storage-2.png);
      background-repeat: no-repeat;
      background-position: left;
      padding: 50px 50px;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 150px;
      height: 560px;
      box-sizing: border-box;
      align-items: center;
    }

    .section-two-div {
      width: 475px;
      height: 310px;
      padding-left:70px ;
    }
    .section-two .section-two-h {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #212353;
      margin-bottom: 50px;

    }

    .section-two .section-two-text {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #4B5D68;
    }

     .main .section-tree h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 130%;
        align-items: center;
        text-align: center;
        color: #212353;
        padding-bottom: 50px;

    }

    .main .section-tree p {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      text-align: center;
      color: #4B5D68;
      align-items: center;
      margin-bottom: 100px;
    }

     .section-tree .section-tree-inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

   .section-tree .section-tree-inner .section-tree-inner-div1 {
        display: flex;
        justify-content: space-between;
        background-image: url(../img/blok-1back.svg);
        background-repeat: no-repeat;
        background-position: right top;
        margin-bottom: 50px;
        width: 531px;
        height: 358px;
        padding: 20px;
    }

    .section-tree .section-tree-inner .section-tree-inner-div1 img {
      width: 232px;
      height: 211px;
      padding-right: 35px;
    }


    .section-tree .section-tree-inner .section-tree-inner-div1 .div1-text h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #212353;
      padding-bottom: 20px;
      /* text-align: left; */
      margin-top: 50px;
    }

    .section-tree .section-tree-inner .section-tree-inner-div1 .div1-text p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #4B5D68;
      margin-bottom: 35px;
      text-align: left;
    }

    .section-tree .section-tree-inner .section-tree-inner-div1 .div1-text a {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.005em;
      color: #212353;
    }

    .section-tree .section-tree-inner .section-tree-inner-div1 .div1-text a:hover {
      color: blue;
    }

    .section-tree .section-tree-inner .section-tree-inner-div1 .div1-text a:active {
      color: green;
    }








    .section-tree .section-tree-inner .section-tree-inner-div2 {
      display: flex;
      justify-content: space-between;
      background-image: url(../img/blok-2back.svg);
      background-repeat: no-repeat;
      background-position: right top;
      margin-bottom: 50px;
      width: 531px;
      height: 358px;
      padding: 20px;
    }

    .section-tree .section-tree-inner .section-tree-inner-div2 img {
      width: 232px;
      height: 211px;
      padding-right: 35px;
    }


    .section-tree .section-tree-inner .section-tree-inner-div2 .div2-text h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #212353;
      padding-bottom: 20px;
      text-align: left;
      margin-top: 50px;
    }

    .section-tree .section-tree-inner .section-tree-inner-div2 .div2-text p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #4B5D68;
      margin-bottom: 35px;
      text-align: left;
    }

    .section-tree .section-tree-inner .section-tree-inner-div2 .div2-text a {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
     letter-spacing: 0.005em;
      color: #212353;
      display: flex;
      align-items: center;
    }

    .section-tree .section-tree-inner .section-tree-inner-div2 .div2-text a:hover {
      color: blue;
    }

    .section-tree .section-tree-inner .section-tree-inner-div2 .div2-text a:active {
      color: green;
    }

    .section-tree .section-tree-inner .section-tree-inner-div1 .div1-text a::after {
      content: url("../img/strelka.svg");
      margin-left: 15px;
    }

    .section-tree .section-tree-inner .section-tree-inner-div2 .div2-text a::after {
      content: url("../img/strelka.svg");
      margin-left: 15px;
    }

    .section-tree .section-tree-inner .section-tree-inner-div3 .div3-text a::after {
      content: url("../img/strelka.svg");
      margin-left: 15px;
    }

    .section-tree .section-tree-inner .section-tree-inner-div4 .div4-text a::after {
      content: url("../img/strelka.svg");
      margin-left: 15px;
    }









    .section-tree .section-tree-inner .section-tree-inner-div3 {
      display: flex;
      justify-content: space-between;
      background-image: url(../img/blok-3back.svg);
      background-repeat: no-repeat;
      background-position: right top;
      margin-bottom: 50px;
      width: 531px;
      height: 358px;
      padding: 20px;
    }



    .section-tree .section-tree-inner .section-tree-inner-div3 img {
      width: 232px;
      height: 211px;
      padding-right: 35px;
    }


    .section-tree .section-tree-inner .section-tree-inner-div3 .div3-text h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #212353;
      padding-bottom: 20px;
      text-align: left;
      margin-top: 50px;
    }

    .section-tree .section-tree-inner .section-tree-inner-div3 .div3-text p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #4B5D68;
      margin-bottom: 35px;
      text-align: left;
    }

    .section-tree .section-tree-inner .section-tree-inner-div3 .div3-text a {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.005em;
      color: #212353;
    }

    .section-tree .section-tree-inner .section-tree-inner-div3 .div3-text a:hover {
      color: blue;
    }

    .section-tree .section-tree-inner .section-tree-inner-div3 .div3-text a:active {
      color: green;
    }






    .section-tree .section-tree-inner .section-tree-inner-div4 {
      display: flex;
      justify-content: space-between;
      background-image: url(../img/blok-4back.svg);
      background-repeat: no-repeat;
      background-position: right top;
      margin-bottom: 50px;
      width: 531px;
      height: 358px;
      padding: 20px;
    }

    .section-tree .section-tree-inner .section-tree-inner-div4 img {
      width: 232px;
      height: 211px;
      padding-right: 35px;
    }


    .section-tree .section-tree-inner .section-tree-inner-div4 .div4-text h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #212353;
      padding-bottom: 20px;
      text-align: left;
      margin-top: 50px;
    }

    .section-tree .section-tree-inner .section-tree-inner-div4 .div4-text p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #4B5D68;
      margin-bottom: 35px;
      text-align: left;
    }

    .section-tree .section-tree-inner .section-tree-inner-div4 .div4-text a {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.005em;
      color: #212353;
    }

    .section-tree .section-tree-inner .section-tree-inner-div4 .div4-text a:hover {
      color: blue;
    }

    .section-tree .section-tree-inner .section-tree-inner-div4 .div4-text a:active {
      color: green;
    }


    .main .section-four {
        background: #9C69E2;
        border-radius: 50px;
        width: ;
        margin-left: 93px;
        width: 1118px;
        height: 709px;

      }

        .section-four-div {
          width: 645px;
        height: 330px;
        }



    .main .section-four h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 130%;
      color: #FFFFFF;
      padding-top: 110px;
      padding-left: 95px;
      margin-bottom: 88px;

    }

    .main .section-four .section-four-inner {
      display: flex;
      margin-left: 100px;
      width: 645px;
      height: 330px;
      background: #FFFFFF;
      box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
      border-radius: 20px;
    }

    .main .section-four .section-four-inner img {
      width: 90px;
      height: 90px;
      margin-left: 70px;
      margin-right: 30px;
      margin-top: 60px;
    }

    .section-four .section-four-inner .section-four-text h3 {
      margin-top: 80px;
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: 0.005em;
      color: #212353;
      padding-bottom: 10px;

    }

    .section-four .section-four-inner .section-four-text a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 0.01em;
      color: #9C69E2;
    }

    .section-four .section-four-inner .section-four-text a:hover {
      color: green;
    }

    .section-four .section-four-inner .section-four-text a:active {
      color: yellow;
    }

    .section-four-text h3 {
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 160%;
      color: #212353;
    }

    .section-four-text a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      color: #9C69E2;
      }

    .section-four-text p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 180%;
      color: #4B5D68;
      padding-top: 20px;
    }



    .footer {


    }
    .footer-inner-1 {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      margin-bottom: 153px;
    }

    .footer-left h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 130%;
      color: #212353;
      padding-bottom: 15px;
    }

    .footer-left p {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #4B5D68;
    }

    .footer-right {
      margin-bottom: 150px;
    }
    .footer-right .footer-right-link-1 {
      background: #F063B8;
      border-radius: 50px;
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 160%;
      text-align: center;
      color: #FFFFFF;
      padding: 15px 15px;
      margin-right: 30px;
    }

    .footer-right .footer-right-link-1:hover {
      color: yellow;
      background: tomato;
    }

    .footer-right .footer-right-link-1:active {
      color: tomato;
      background: turquoise;
    }

    .footer-right .footer-right-link-2 {
      background: #FFFFFF;
      box-shadow: 0px 8px 5px rgba(75, 93, 104, 0.1);
      border-radius: 50px;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.005em;
      color: #212353;
      padding: 15px 15px;
      width: 210px;
      height: 60px;
          }

  .footer-right .footer-right-link-2:hover {
    color: yellow;
   background: tomato;
  }

  .footer-right .footer-right-link-2:active {
    color: tomato;
    background: turquoise;
  }

  .footer .footer-inner-2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
  }

  .footer-inner-2 .footer-div-1 {
    display: block;
  }

  .footer-inner-2 .footer-div-1 .footer-logo {
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
    margin-bottom: 60px;
  }

  .footer-inner-2 .footer-div-1 .footer-logo img {
   width: 49px;
   height: 35px;
   padding-right: 20px;
  }

  .footer-inner-2 .footer-div-1 .footer-div-1-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    padding-bottom: 20px;
  }

  .footer-inner-2 .footer-div-1 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
  }

  .footer-inner-2 .footer-div-2 {
    display: block;
    width: 80px;
    margin-left: 150px;
  }

  .footer-inner-2 .footer-div-2 .footer-div-link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
    padding-bottom: 70px;

  }

  .footer-inner-2 .footer-div-2 .footer-div-link:hover {
   color: red
  }

  .footer-inner-2 .footer-div-2 .footer-div-link:active {
    color: saddlebrown;
  }

  .footer-inner-2 .footer-div-2 a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 300%;
    color: #212353;
    word-spacing: 5px;
  }

  .footer-inner-2 .footer-div-2 a:hover {
    color: red
  }

  .footer-inner-2 .footer-div-2 a:active {
    color: saddlebrown;
  }



  .footer-inner-2 .footer-div-3 {
    display: block;
    width: 80px;
    margin-left: 150px;
  }


  .footer-inner-2 .footer-div-3 .footer-div-link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
    padding-bottom: 50px;

  }

  .footer-inner-2 .footer-div-3 .footer-div-link:hover {
   color: red
  }

  .footer-inner-2 .footer-div-3 .footer-div-link:active {
    color: saddlebrown;
  }

  .footer-inner-2 .footer-div-3 a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 300%;
    color: #212353;
    word-spacing: 5px;
  }

  .footer-inner-2 .footer-div-3 a:hover {
    color: red
  }

  .footer-inner-2 .footer-div-3 a:active {
    color: saddlebrown;
  }

  .footer-inner-2 .footer-div-4 {
    display: block;
     }

  .footer-inner-2 .footer-div-4 .footer-div-4-link{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    margin-bottom: 30px;
    }

    .footer-inner-2 .footer-div-4 div div a {
      width: 50px;
      height: 50px;
      margin-top: 20px;
         }

   .footer-inner-3{
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
         }

   .footer-inner-3 p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #212353;
   }

   .footer-inner-3 img {
     width: 60px;
     height: 60px;
     position: fixed;
     bottom: 0;
     right: 0;
   }